{% extends 'base.html' %}

{% block content %}
{% for post_id, post in blog_posts.items() %}

<div class="container bg-light col-sm-12 col-md-10 col-lg-8 col-xl-4 mb-3 rounded">
<h2>{{ post['title'] }}</h2>
<p>{{ post['created'] }}</p>

{# We only show the first 100 characters of each blogpost, the user has to click the link if they want more :) #}
<p>{{ post['paragraphs'][0][0:100] }}... (<a href="{{ url_for('blog.blog_post', post_id = post_id) }}">read more</a>)</p>
</div>

{% endfor %}
{% endblock %}